.form {
  max-width: 450px;
}

.form__entry {
  margin-bottom: 8px;
}

.form__label {
  margin-bottom: 6px;
}

.form__input {
  border: 1px solid var(--borderColor);
  padding: 5px 10px;
  width: 100%;
}

.form__input[aria-invalid="true"] {
  border-color: #ac1b11;
}

.form__error:not(:empty) {
  color: #ac1b11;
  font-size: 0.85rem;
  margin-top: 10px;
}
